:root {
  font-family: sans-serif, Helvetica;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* height: 100vh; */
}

.counter_parent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #aea8ff; */
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid #aea8ff;
}

.counter {
  font-size: 40px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.decrement_btn {
  background-color: red;
}

.reset_btn {
  background-color: white;
  color: darkblue;
  margin: 0 7px;
}

.increment_btn {
  background-color: green;
}

.title{
  position: absolute;
  margin: 0 auto;
  width: -webkit-fill-available;
  font-size: 60px;
  font-weight: bold;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  position: absolute;
  top: 200px;
}

.logo img{
  width: 600px;
}

#react{
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 80px;
  position: absolute;
  width: 300px;
  top: 200px;
}